.timer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;

  font-family: Roboto;
  font-weight: 700;
}

.label{
    text-transform: uppercase;
}
